<h3>{{title}} - {{displayQuery}}</h3>

<input name="query" placeholder="Enter Search Here" [(ngModel)]="searchQuery" />

<button (click)="sendQuery()">Submit</button>
<!-- <h3 class="total">channel: {{searchResults._links.self}}</h3> -->


<h3 class="total">searchResults: {{searchResults.featured[0].title}}</h3>



<!-- //  <h3 class="total">channel: {{featured.0.title}}</h3> -->

<div *ngIf="searchResults; else elseBlock">
  
    <ul class="list">
      <li class="list_item" *ngFor="let result of searchResults.featured index as i;">
        <a [href]="result.html_url">
          <img class="avatar" [src]="result.image" /> 
          <h4 class="title">{{result.title}} 
            <!-- <small> by {{result.owner.login | uppercase}}</small>  -->
          </h4>
        </a> 
        <p class="description"> {{result.text}}</p> 
        <p> Created On: {{result.created_at | date:'fullDate'}} </p>
      </li>
    </ul>
  </div>
  <ng-template #elseBlock>Loading...</ng-template>
  


<!-- 
<div *ngIf="searchResults; else elseBlock"> -->
   <!-- // <h3 class="total">Total Results: {{result.game}}</h3> -->
    <!-- <h5>stream: {{searchResults.stream._id}}</h5>

    <h1>{{result.stream._id}}</h1>
<!-- <h1>{{result._id}}</h1>
<h1>{{stream}}</h1> </div> -->






<!-- <div *ngIf="searchResults; else elseBlock">

  <h3 class="total">channel: {{searchResults.stream.channel.name}}</h3>

  
  <ul class="list">
    <li [ngStyle]="{'background-color' : (i % 2 === 0) ? 'silver' : 'white'}" class="list_item" *ngFor="let result of searchResults.items; index as i;">
      <a [href]="searchResults.stream.channel.url">
        <img class="avatar" [src]="result.stream.channel.logo" /> 
        <h4 class="title">{{result.channel.name}} 
          <small> by {{result.channel.game | uppercase}}</small> 
        </h4>
      </a> 
      <p class="description"> {{result.description}}</p> 
      <p> Created On: {{result.channel.created_at | date:'fullDate'}} </p>
    </li>
  </ul>
</div> 
<ng-template #elseBlock>Loading...</ng-template>  -->
